.card {
  height: calc(100vh - 85px);
  // background: red;
  padding: 0px 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    width: 50%;
    color: #2C2D2E;

    h3 {
      font-size: 13px;
      font-weight: 500;
    }

    h1 {
      font-size: 32px;
      font-weight: 600;
      padding: 10px 0px;
    }

    p {
      font-size: 15px;
    }

    @media (max-width:640px) {
      width: 70%;
      h3{
        font-size: 10px;
      }
      h1{
        font-size: 28px;
        padding: 5px 0px;
      }
      p{
        font-size: 14px;
      }
      
    }

   
  }

  .right {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    img {
      width: 40px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
      @media(max-width:640px){
        width: 30px;
      }
    }

  }

  position: relative;
}


.slick-dots {
  position: absolute;
  left: 60px;
  bottom: 40px !important;
  width: 200px !important;

  li button {
    border: 2px solid #EF7C00 !important;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    @media(max-width:640px){
      width: 2px !important;
      height: 7px !important;
    }

    &::before {
      display: none;
    }
  }

  .slick-active button {
    background: orange !important;
  }
}